from pydantic import BaseModel, Field
{%- for imp in imports %}
{{ imp }}
{%- endfor %}


class Schema(BaseModel):
{%- if table_description %}
    """
    {{table.title | indent(width=4)}}

    {{ table_description | indent(width=4) }}
    """
{% else %}
    """{{ table.title }}"""
{% endif %}

{%- for col in table.columns %}
    {% if col.computed %}
    @property
    @computed_field({{ field_info(col) }})
    def {{col.name}}(self) -> {{col.type}}:
        return {{ col.computed }}
    {% else -%}
    {{ col.name }}: {{ col.type }} = Field({{ field_info(col) }})
    {%- endif %}
{%- endfor %}
